html {
    height: 300%;
}

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

.navbar-header {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    font-family: Montserrat, sans-serif;
    background: #2d2d30;
    position: fixed;
    margin-bottom: 0;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 2px;
    opacity: 0.8;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover, .navbar-brand:hover {
    transition: linear 0.2s;
    color: #fff !important;
}

#myNavbar .active,{
    transition: linear 2s;
    color: #000 !important;
    opacity: 0.6;
}

.active a {
    transition: linear 0.2s;
    color: #fff !important;
    opacity: 0.6;
}

button {
    color: #d5d5d5 !important;
}

.navbar-toggle {
    color: #000;
    padding: 100px;
}

div {
    font-family: Montserrat;
}

#content {
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to bottom, #ccc, #777);;
}

#info {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutme {
    padding-top: 50px;
    height: 100vh;
}

#contact {
    padding-top: 50px;
    height: 100vh;
    background-blend-mode: normal;
}

#knapp:active{
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
    opacity: 0.9;
}

#knapp:focus{
    outline: 0;
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 5px;
    text-align: center;
    color: #d5d5d5;
    opacity: 0.3;
}

#logos a {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #d5d5d5;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

#logos span {
    justify-content: center;
}

#credentials {
   padding-top: 15px;
}

#credentials a {
     color: #d5d5d5;
}

#credentials a:focus{
   text-decoration: none;
}

#logos a:hover{
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    color: #f2f2f2;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
}

