/* Browser reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
main,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    touch-action: none;
}

* {
    font-family: sans-serif;
}

.outer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.inner {
    height: 90vh;
    width: 100%;
    display: flex;
    color: #fff;
    font-weight: 100 !important;
    font-size: 2rem;
    position: relative;
}

.inner:not(:first-of-type) > .inner-wrapper {
    padding-top: 3rem;
    transition: ease 1.2s;
    opacity: 0;
}

/* Lazy load effect */
.inner:nth-of-type(odd) > .inner-wrapper {
    /*transform: translateX(20%);*/
}

.inner:nth-of-type(even) > .inner-wrapper {
    /*transform: translateX(20%);*/
}

.inner.active > .inner-wrapper {
    opacity: 1;
    /*transform: translateX(0);*/
}

.inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroll-content {
    position: relative;
    z-index: 2;
    transition: -webkit-transform ease 800ms;
    transition: transform ease 800ms;
    transition: transform ease 800ms, -webkit-transform ease 800ms;
}

.top-navigator {
    left: -2rem;
    top: 65vh;
    position: absolute;
    transition: linear 200ms;
    background: rgba(0,0,0,0.35);
    height: 2rem;
    width: 2rem;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    z-index: 3;
}

.top-navigator:after {
    position: absolute;
    top: 0.85rem;
    left: 0.65rem;
    content: '';
    color: #fff;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    transition: linear 300ms;
    box-sizing: border-box;
}

.top-navigator.active {
    left: 0;
    opacity: 1;
}

/* Top */

.first {
    background: #2982F8;
}

.down-arrow {
    position: absolute;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    animation: jump 2s infinite;
}

.down-arrow:hover {
    cursor: pointer;
}

.down-arrow img {
    width: 100%;
}

@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(-50%);}
    100% {transform: translateY(0);}
}

/* About */

.about {
    background: #C1C1C1;
    display: flex;
    flex-direction: column;
}

.about-container {
    display: flex;
    width: 100%;
}

.about-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    width: 50%;
}

.about-inner.left p {
    padding: 0 4rem;
    font-size: 1.2rem;
    text-align: justify;
}

.cv-btn {
    margin-top: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}

.cv-btn h3 {
    margin-left: 1rem;
}

.portfolio-outer,
.portfolio-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portfolio-outer h3 {
    position: relative;
}

.portfolio-outer h3:after {
    height: 1px;
    width: 100px;
    position: absolute;
    background: #fff;
    color: #fff;
    bottom: 0;
}

.portfolio-inner {
    margin-top: 1rem;
    position: relative;
    width: 35%;
    overflow: hidden;
}

.portfolio-inner img {
    width: 100%;
}

.portfolio-inner .hover-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: ease 0.35s;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 1.2rem;
}

.portfolio-inner:hover .hover-wrapper {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.social {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 2rem;
}

.logo a {
    color: #666;
}

/* Contact Form */

.contact {
    background: #6680A8;
    display: flex;
    flex-direction: column;
}

.contact-header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-header p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.form-wrapper {
    width: 75%;
    justify-content: center;
    display: flex;
    max-width: 560px;
}

.form-wrapper form {
    width: 100%;
}

.form-row {
    width: 100%;
    display: flex;
}

.form-group {
    position: relative;
}

.form-control {
    border-radius: 0;
    border: 0;
    resize: none;
}

.form-control:focus {
    outline: none;
    border: 0;
}

.form-row input, .form-row textarea {
    font-size: 0.95rem;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
}

.form-row:first-of-type {
    width: 100%;
    margin-bottom: 1.6rem;
    justify-content: space-between;
}

.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 0 -5px 0;
}

.form-row:first-of-type .form-group {
    width: 45%;
}

.form-row:nth-of-type(2) .form-group {
    width: 100%;
}

.form-row:nth-of-type(3) {
    margin-top: 1.2rem;
}

.form-row:nth-of-type(3) input[type="submit"] {
    border: none;
    background: #fff;
    text-align: center;
    height: 2rem;
    width: 4.5rem;
    color: rgb(116,116,122);
    transition: ease 0.2s;
}

.form-row:nth-of-type(3) input[type="submit"]:focus,
.form-row:nth-of-type(3) input[type="submit"]:active {
    outline: none;
}

.form-row:nth-of-type(3) input[type="submit"]:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}

.form-row:nth-of-type(3) input[type="submit"]:hover {
    cursor: pointer;
}

.form-control ~ .focus-border {
    position: absolute;
    left: 0; width: 0;
    height: 3px;
    background-color: #52A6CC;
    transition: 0.4s;
}

.form-control:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    text-align: center;
    color: #c1c1c1;
    position: absolute;
    bottom: 0;
    z-index: 1;
}


/* Media queries */

/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .outer {
    height: 1024px;
  }

  .inner {
    height: calc(1024px * 0.9);
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .outer {
    height: 768px;
  }

  .inner {
    height: calc(768px * 0.9);
  }
}

/**
 * iPhone 6/7/8 with portrait orientation.
 */
@media all and (device-width: 375px) and (device-height: 667px) and (orientation:portrait){
  .outer {
    height: 667px;
  }

  .inner {
    height: calc(667px * 0.9);
  }
}

/**
 * iPhone 6/7/8 with landscape orientation.
 */
@media all and (device-width: 375px) and (device-height: 667px) and (orientation:landscape){
  .outer {
    height: 375px;
  }

  .inner {
    height: calc(375px * 0.9);
  }
}


@media screen and (max-width: 670px) {
    .about-inner.left p {
        font-size: 0.9rem;
        padding: 0 2rem;
    }

    .portfolio-inner {
        width: 50%;
    }
}
